*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.generalContainer{
    /* padding: 0px 40px; */
    /* max-width: 1445px; */
    font-family: 'Poppins', sans-serif;
font-family: 'Public Sans', sans-serif;
}

.homeHeaderContainer > header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4C0252;
    color: #FFFFFF;
    padding: 0 80px;


}

nav >li{
    list-style: none;
}

header > nav{
    display: flex;
    justify-content: space-between;
     align-items: center; 
      gap: 120px; 
     /* padding-left:100px;  */
}

nav li a {
    color: #FFFFFF;
}

.homeNavImg{
    background-color: #FFFFFF;
    padding: 20px;

}

.homeNavButton{
    display: flex; 
    justify-content: center;
    align-items: center;
     gap: 10%; 
}

.hb1{
    background-color: #4C0252;
    color: #FFFFFF;
    font-family: Public Sans; 
    font-size: 20px;
    font-weight: 800;
    border-radius: 5px;
    border: 1px solid #FFFFFF;
    padding: 10px;
    width: 89px;
    /* margin-right: 1%; */
    
}

.hb2{
    background-color: #FFFFFF;
    color: #4C0252;
    font-family: Public Sans;
    font-size: 16px;
    font-weight: 700;
    padding: 10px;
    padding-top: 18px;
    border-top-left-radius: 25px;
    border: 1px solid #FFFFFF;
    width: 100px;
    
    
    /* padding-left: 50px; */
}


/* section  */

.homeSection1{
    background-image: url(./images/IMG-20230719-WA0007.jpg);
    background-size: cover;
    color: #FFFFFF;
    height: 600px;
    width: 100%;
    padding: 50px 0;
    /* border-bottom-left-radius: 10px; */

}

.homeSect1Text{
    padding-left: 80px;
    width: 35%;
    padding-top: 6%;

}

.homeSect1Text > h1{
    font-family: Inter;
font-size: 48px;
font-weight: 700;
/* padding-top: 20%; */
width: 100%;
/* color: #FFFFFF; */
}

.homeSect1Text > p{
    font-family: Poppins;
font-size: 16px;
font-weight: 600;
padding: 3% 0;
width: 100%;

/* color: #FFFFFF; */
}

.prohead .bi-search{
    background-color: whitesmoke;
    padding: 10px 5px;
    margin-left: 90px;
    margin-right: -4px;
    margin-bottom: -2px;
    color:  #4C0252;
    min-width: 80px;
    text-align: center;
}
#proinput{
    color: #7D7E7E;
    font-size: 16px;
    font-family: "public san";
    font-weight: 400;
    background-color: whitesmoke;
    width: 300px;
    padding: 10px 10px;
    outline: none;
    border: none;
}
.prohead button {
    padding: 10px 30px 10px 20px;
    margin-left: -5px;
    color: white;
    background: #4C0252;
    font-size: 16px;
    font-family: Public Sans 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    border: none;
    outline: none;
    cursor: pointer;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.homeEcl{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 2%;
    gap: 1%;
    /* margin: 0 auto; */
}

.homeSection1Span{
    font-size: 10px;
    padding-top: 25%;
    /* padding-right: 1%; */
}

.homeSection2{
    display: flex;
    padding-left: 7%;

    /* border-top-left-radius: 10px; */
}

/* .homesect1aImg{ */
    /* width: 50%; */
/* } */



.homeTextA > h1{
    color: #252525;
    font-family: Poppins;
    font-size: 56px;
    font-weight: 500;
    width: 100%;

}
.homeTextA{
    width: 40%;
    padding: 40px;
}

.homeTextA h1 span{
    color: #4E0554;
}

.homeTextA> p{
    font-family: Poppins;
    font-size: 24px;
    font-weight: 400;
    color: #4E0554A1;
    width: 100%;
    padding: 20px;


}

.homeSectionMain3{
    background-color: #4C0252FC;
    /* margin-top: 4%; */

}
.homeSectionMain3 > h1{
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    padding-left: 80px;
    color: #FFFFFF;
    padding-top: 2%;
    padding-bottom: 2%;

}
.homeLine3{
    width: 100%;
    margin-bottom: 2%;
    /* border: 1px solid #EC00FF38; */
    /* border-color: #EC00FF38; */
}
.homeSectionMain3 > h2{
    text-align: center;
    color: #FFFFFF;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;

}

.homeSection3Icon{
    display: flex;
    margin: 5px auto;
}
.homeSection3{
    display: grid;
    grid-template-columns: auto auto auto auto;
    text-align: center;
    gap: 2%;
    padding-top: 6%;
    padding-bottom: 4%; 

}

.homeTest3a{
    background-color: #E7D9E8;
    border: 1px solid;
    border-radius: 15px;
    padding: 60px 20px;

}

.homeTest3a > p{
    padding: 30px 10px;
    color: #000000;
    font-family: Public Sans;
font-size: 16px;
font-weight: 400;



}
.homeTest3a > h3{
    padding-top: 25px;
    padding-bottom: 15px;
    font-family: Public Sans;
font-size: 20px;
font-weight: 700;
color:  #000000;
}

.homeTest3a> h5{
    font-family: Inter;
font-size: 18px;
font-weight: 400;
color: #000000;
padding-bottom: 4%;
}

.sect3Line{
    width: 100%;
    color: #4C025238;
    /* border: 1px solid  #4C025238; */
}

.homeTest3b{
    background-color: #E7D9E8;
    border: 1px solid;
    border-radius: 15px;
    padding: 60px 20px;

}

.homeTest3b > p{
    padding: 30px 10px;
    color: #000000;
    font-family: Public Sans;
font-size: 16px;
font-weight: 400;


}
.homeTest3b > h3{
    padding-top: 25px;
    padding-bottom: 15px;
    font-family: Public Sans;
font-size: 20px;
font-weight: 700;
color:  #000000;
}

.homeTest3b> h5{
    font-family: Inter;
font-size: 18px;
font-weight: 400;
color: #000000;
padding-bottom: 4%;
}



.homeTest3c{
    background-color: #E7D9E8;
    border: 1px solid;
    border-radius: 15px;
    padding: 60px 20px;

}

.homeTest3c > p{
    padding: 30px 10px;
    color: #000000;
    font-family: Public Sans;
font-size: 16px;
font-weight: 400;


}
.homeTest3c > h3{
    padding-top: 25px;
    padding-bottom: 15px;
    font-family: Public Sans;
font-size: 20px;
font-weight: 700;
color:  #000000;
}

.homeTest3c > h5{
    font-family: Inter;
font-size: 18px;
font-weight: 400;
color: #000000;
padding-bottom: 4%;
}


.homeTest3d{
    background-color: #E7D9E8;
    border: 1px solid;
    border-radius: 15px;
    padding: 60px 20px;

}

.homeTest3d > p{
    padding: 30px 10px;
    color: #000000;
    font-family: Public Sans;
font-size: 16px;
font-weight: 400;


}
.homeTest3d > h3{
    padding-top: 25px;
    padding-bottom: 15px;
    font-family: Public Sans;
font-size: 20px;
font-weight: 700;
color:  #000000;
}

.homeTest3d > h5{
    font-family: Inter;
font-size: 18px;
font-weight: 400;
color: #000000;
padding-bottom: 4%;
}



.homeSect4Design{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 3%;
    padding: 1% 9%;
}

.homeSection4 > h1{
    text-align: center;
    color: #252525;
    font-family: Poppins;
    font-size: 48px;
    font-weight: 700;
    padding: 1%;


}


.homeGraphics{
    background-image: url(./images/graphicDesign.png);
    background-size: cover;
    width: 275px;
    height: 268px;
    
}

.homeGraphics > p{
    text-align: center;
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    padding: 130px 100px 70px 50px;
}

.homeCartoon{
    background-image: url(./images/cartooonAnimatin.png);
    background-size: cover;
    width: 275px;
    height: 268px;
    
}

.homeCartoon > p{
    text-align: center;
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    padding: 130px 100px 70px 50px;
}

.homeIllustrate{
    background-image: url(./images/illustration.png);
    background-size: cover;
    width: 275px;
    height: 268px;
    
}

.homeIllustrate > p{
    text-align: center;
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    padding: 130px 100px 70px 50px;
}

.homeFlyer{
    background-image: url(./images/flyers.png);
    background-size: cover;
    width: 275px;
    height: 268px;
    
}

.homeFlyer > p{
    text-align: center;
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    padding: 130px 100px 70px 50px;
}

.homeLogoD{
    background-image: url(./images/logoDesign.png);
    background-size: cover;
    width: 275px;
    height: 268px;
    
}

.homeLogoD > p{
    text-align: center;
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    padding: 130px 100px 70px 50px;
}

.homeSocialG{
    background-image: url(./images/socialMedia.png);
    background-size: cover;
    width: 275px;
    height: 268px;
    
}

.homeSocialG > p{
    text-align: center;
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    padding: 130px 100px 70px 50px;
}

.homeAWriting{
    background-image: url(./images/article.png);
    background-size: cover;
    width: 275px;
    height: 268px;
    
}

.homeAWriting > p{
    text-align: center;
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    padding: 130px 100px 70px 50px;
}

.homeVEditing{
    background-image: url(./images/videoEditing.png);
    background-size: cover;
    width: 275px;
    height: 268px;
    
}

.homeVEditing > p{
    text-align: center;
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    padding: 130px 100px 70px 50px;
}


.homeSection5{
    background-image: url(./images/IMG-20230720-WA0044.jpg); 
    background-size: cover;
    height: 676px;
    
    display: flex;
    justify-content: flex-end;
    
}

.homeSect5Text{
    width: 20%;
    text-align: center; 
    padding: 10% 2% 3%;
    /* margin-top: 17%; */
    /* margin-right: 13%; */
    background-color: #e596ec; 


}

.homeSect5Text > p{
    width: 100%;
    font-family: Inter;
    font-size: 28px;
    font-weight: 600;
    padding: 5%;
    text-align: center;
    
}

.homeFooter{
    padding: 3% 10%;
}

.homeFooterMain{
    border: 1px solid #FFCBCB;
}


.footerContent{
    display: flex;
    justify-content: center;
    padding-top: 2%;
    padding-left: 1%;
    /* align-items: center; */
    /* margin: 0 auto; */
    gap: 1%;
    /* padding: 4%; */
}

.footerText1{
    width: 30%;
   /* align-items: center; */
}

.footerText1 > p{
    width: 100%;
    font-family: Poppins;
font-size: 18px;
font-weight: 400;
color: #252525;
padding-bottom: 7%;
/* padding-top: 4%; */


}

.footerText1Logo{
    padding-bottom: 3%;
}

.footerText1Image{
    display: flex;
    gap: 10%;
}

.footerText2{
    width: 30%;
    padding-left: 5%;
}

.footerText2 > h3{
    font-family: Poppins;
font-size: 24px;
font-weight: 500;
color:  #4C0252;
padding-bottom: 3%;

}

.footerText2>p{
    /* width: 100%; */
    font-family: Poppins;
font-size: 18px;
font-weight: 400;
color: #252525;
/* padding-top: 4%; */
}

.footerText3{
    width: 30%;
}

.footerText3 > h3{
    font-family: Poppins;
font-size: 24px;
font-weight: 500;
color:  #4C0252;
padding-bottom: 3%;

}

.footerText3 > p{
    width: 100%;
    font-family: Poppins;
font-size: 18px;
font-weight: 400;
color: #252525;
/* padding-top: 4%; */
}

.footerText4{
    width: 30%;
}

.footerText4 > h3{
    font-family: Poppins;
font-size: 24px;
font-weight: 500;
color:  #4C0252;
padding-bottom: 3%;

}

.footerText4 > p{
    width: 100%;
    font-family: Poppins;
font-size: 18px;
font-weight: 400;
color: #252525;
/* padding-top: 4%; */
}

.homeFooterLast{
    text-align: center;
    padding-top: 5%;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    color: #4C025294;


}


.homeFooterSpan{
    padding-right: 5%;
    /* padding-left: 5%; */
    /* padding-top: 15%;  */
}
.footerText4 p {
    padding-bottom: 2%;
    /* text-align: center; */
}

.homeFooterSpan1{
    padding-right: 5%; 

}

.homeFooterSpan2{
    padding-right: 5%; 
}



@media screen and (max-width: 720px) {
    nav > li{
        display: none;
    }
    .homeHeaderContainer > header{
        padding: 0 10px;
    }
    

    .homeSect1Text{
        padding-left: 10px;
        width: 50%;
        /* font-size: 10px; */
    }

    .homeSect1Text >h1{
        font-size: 30px;
    }

    .homeSect1Text >p{
        font-size: 15px;
        padding: 10px;
    }

    
    section > div{
        width: 100% !important; 
    }

    .homeSection2{
        flex-direction: column;
        padding: 0;
        
    }

    .homeTextA{
        display: table;
        margin: 0 auto;
        padding: 0;
    }
    .homeTextA > h1{
        font-size: 25px;
    }

    .homeTextA > p{
        font-size: 15px;
        padding: 20px 0;
    }

    .homeSect1aImg >img{
        width: 100%;
    }


    .homeSectionMain3{
        /* width: 50%; */
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .homeSectionMain3 > h1{
        font-size: 20px;
        padding-left: 10px;
    }

    .homeSection3{
        grid-template-columns: auto;
        /* grid-template-columns: auto auto auto; */
    }

    .homeSection3Icon{
        display: none;
    }

    .homeSection4 > h1{
        margin-top: 80px;
        font-size: 25px;
    }

    .homeSect4Design{
        grid-template-columns: auto;
        justify-content: center;
        /* width: 100%; */
    }

    .homeSection5{
        display: none;
    }
    .homeFooter{
        margin-top: 450px;
        padding: 0;
    }
    .footerText1> p{
        font-size: 9px;
        /* width: 100%; */
    }
    .footerText2> p{
        font-size: 9px;
        /* width: 100%; */
    }
    .footerText3> p{
        font-size: 9px;
        /* width: 100%; */
    }
    .footerText4> p{
        font-size: 9px;
        /* width: 100%; */
    }
    .footerText2> h3{
        font-size: 17px;
        padding-top: 5px;
    }
    .footerText3> h3{
        font-size: 14px;
        padding-top: 9px;
    }
    .footerText4> h3{
        font-size: 17px;
        padding-top: 8px;
    }

}

