body {
    margin: 0 auto;
    font-family: Inter;
    background-color: #FAFCFF;
    width: 100%;
  }

* {
    box-sizing: border-box;
}
/*
main {
    display: flex;
    vertical-align: center;
    column-gap: 15em;
}
*/

a .logo {
    max-width: 100%;
    height: auto;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2em;
}

.signup,
.startnow {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.3em;
  padding-bottom: 0.1em;
}

.google,
.join {
    border-radius: 10px;
    color: #ffffff;
    background: #4C0252;
    width: 312px;
    height: 56px;
    padding: 14px 53px 12px 30px;
    justify-content: center;
    align-items: center;
    gap: 25px;
  }

.google {
    display: flex;
    width: 350px;
    height: 56px;
    padding: 12px 20px;
    margin-left: auto;
    margin-right: auto;
}



/*
section {
    flex-direction: column;
    gap: 10px;
    align-items: center;
    vertical-align: middle;
}
*/

.username,
.pass,
.join {
  width: 350px;
  height: 56px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #84078E;
  border-radius: 10px; 
}


.line1,
.line2,
.line3 {
    width: 129.062px;
    height: 1px;
    background: #D9D0D0;
}

.line3 {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 2em;

}

.linewrap,
.think,
.checkboxwrap,
.login {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup,
span,
.or,
.think,
.join,
.google,
.terms {
    color: #040104;
    font-family: Inter;
    font-size: 29px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.google {
    color: #ffffff;
    font-size: 24px;
}

.or {
    font-size: 19px;
    padding-top: 2.4em;
    padding-bottom: 2.4em;
    padding-left: 2.5em;
    padding-right: 2.5em;

}

.think {
    color: #171616;
    font-size: 18px;
}


span,
.login {
    color: #040104;
    font-size: 15px;
}

p > a {
    color: #4C0252;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
}

.terms {
    color: #040104;
    font-size: 16px;
}

.join {
    color: #ffffff;
    text-align: center;
    font-size: 19px;
}

.username {
  background: url("./images/email.png") no-repeat;
  background-size: 15px 15px;
  background-position: 15px 19px;
  margin-bottom: 2.4em;
}

.pass {
  background: url("./images/pass.png") no-repeat;
  background-size: 15px 15px;
  background-position: 15px 19px;
  margin-bottom: 2.5em;

}

input[type='text'],
input[type='password'] {
    padding-left: 40px;
}

.checkboxwrap {
    color: #4C0252;
    margin-bottom: 2.6em;
}

.checkbox {
    width: 18px;
    height: 18px;
}

.checkboxwrap > span {
    color: #040104;
    font-family: Public Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 1.5em;
}

.sideimg {
    display: none;
}

.startnow {
    color: #4C0252;
    text-align: center;
    font-family: Public Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


@media(min-width: 1000px){

main {
        display: flex;
        column-gap: 16em;
        margin-left: 8em;
    }

    .sideimg {
        
        display: flex;
    }

    .startnow {
        color: #4C0252;
        text-align: center;
        font-family: Inter;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding-top: 3em;
    }

    .google,
    .join,
    .username,
    .pass {
        width: 421px;
    }

}
